@media screen and (min-width: 1224px) {
    .svg {
        margin-top: 20px; /* Увеличены отступы для большего экрана */
        width: 50px; /* Увеличен размер логотипа */
    }
    #logo {
        margin-top: 10px;
        margin-left: 10px; /* Увеличен отступ слева */
    }

    #topbar {
        top: 0px;
        left: 0px;
        height: 70px; /* Увеличена высота верхней панели */
        width: 100%;
    }
    #text_container {
        margin-top: -57px; /* Меньше отрицательный отступ */
        margin-left: 30px; /* Увеличен отступ слева */
        scale: 90%; /* Снижено масштабирование для лучшего отображения */
    }
    #name {
        scale: 120%; /* Увеличено масштабирование */
        margin-left: 80px; /* Убрано отрицательное значение отступа */
    }
    #service {
        margin-top: 0; /* Убрано отрицательное значение отступа */
        margin-left: -20px; /* Уменьшен отрицательный отступ слева */
    }
    #footer {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 70px; /* Увеличена высота подвала */
        top: calc(100vh - 70px); /* Увеличено пространство от нижней границы */
    }
    #facebook {
        scale: 175%; /* Увеличено масштабирование для иконок социальных сетей */
    }
    #socials_container {
        height: 60px; /* Увеличена высота контейнера */
        width: 70%; /* Увеличена ширина контейнера */
        margin-top: -10px; /* Увеличен отступ сверху */
    }
    #social_container .svg{
        width: 50px;
    }

    #whatsapp:hover, #instagram:hover, #facebook:hover {
        transform: translateY(0px); /* Увеличено расстояние при наведении */
    }

    #images_container {
        margin-top: 80px; /* Увеличен отступ сверху */
        height: 75vh; /* Высота остаётся прежней */
        grid-template-columns: repeat(4, 1fr); /* Увеличено количество колонок для отображения изображений */
        grid-gap: 5px; /* Увеличено расстояние между изображениями */
    }

    #arrow_down {
        margin-top: 5px; /* Увеличен отступ сверху */
    }
    #load_more {
        scale: 80%; /* Увеличено масштабирование для кнопки "Загрузить больше" */
        margin-bottom: -10px; /* Уменьшен отрицательный отступ снизу */
    }
    #button_container {
        bottom: 80px; /* Увеличен отступ снизу для контейнера кнопок */
    }

    .modal .close {
        top: 30px; /* Увеличены отступы для кнопки закрытия модального окна */
        right: 30px; /* Увеличены отступы для кнопки закрытия модального окна */
        font-size: 40px; /* Увеличен размер шрифта для кнопки закрытия */
    }
}
